{{<layout}}

{{$pageTitle}}Apply for Employment and Support Allowance{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/beta-banner}}
  
  <form action="third-party" method="#" class="form">

    <a href="apply" class="example-back-link">Back</a>

    <h1 class="heading-large">
      Before you start
    </h1>

    <div class="text">

      <p>
        To apply for Employment and Support Allowance:
      </p>

      <ul class="list-bullet">
        <li>you must have a health condition of injury</li>
        <li>you must not be getting Jobseeker's Allowance or Universal Credit</li>
        <li>you must not be involved in industrial action (eg a strike, walk-out or lock-out)</li>
        <li>you must not be working over 16 hours per week (paid and voluntary work)
      </ul>

      <!-- Primary buttons, secondary links -->
      <div class="form-group">
        <input type="submit" class="button" value="I agree - start my application"> <!--a href="overview">I do not agree - leave now</a-->
      </div>

    </div>
  </form>  
</main><!-- / #page-container -->
{{/content}}

{{/layout}}
