{{<layout}}

{{$pageTitle}}
	Apply for Employment and Support Allowance
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	{{>includes/alpha-banner}}

	<h1 class="heading-xlarge">Apply for Employment and Support Allowance</h1>

	<div class="grid-row">
	  <div class="column-two-thirds">

			<h2 class="heading-medium">Alpha prototypes</h2>

			<ul class="list-bullet">
				<li><a href="/alpha01/apply">Alpha 01</a></li>
			</ul>

		</div>
		<div class="column-one-third">
			<h2 class="heading-medium">Discovery prototypes</h2>

			<ul class="list-bullet">
				<li><a href="/discovery01/apply">Discovery 01</a></li>
			</ul>
		</div>
	</div>


	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
